<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmDatabase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version=1" />
</head>
<body style="background-color:lightblue">
    <header style="background-color:lightblue">
        <nav class="navbar navbar-expand-lg bg-light mystyle" style="background-color:blueviolet">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">Filmdatabase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <partial name="_LoginPartial"/>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Home" asp-area="" aria-current="page">Home</a>
                        </li>
                       
                 
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Gebruiker"> Gebruiker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Favorieten"> Favorieten</a>
                                </li>

                            }
							if (User.IsInRole("user"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-action="Index" asp-controller="Favorieten"> Favorieten</a>
								</li>
							}
							
                                
                            


                        }
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="text" name="titel" placeholder="Zoek op Filmtitel" aria-label="Search" id="titel">
                            <button class="btn btn-outline-primary" type="submit" style="color:royalblue" asp-area="" asp-controller="ZoekOpNaam" asp-action="ZoekOpNaam" asp-route-id="titel">Search</button>
                        </form>

                    </ul>
                  
                </div>
            </div>
        </nav>
    </header>
    
        <main role="main" class="pb-3 mystyle">
            @RenderBody()
        </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FilmDatabase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
