@{
	ViewData["Title"] = "Film Database";
}

<h1 class="title">Filmdatabase Guy</h1>
<div>
	<table>
		<tr>
			<td>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="~/afbeeldingen/SuicideSquad.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<div style="text-align:center " class="d-flex">
							<a  href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>